.Logo {
  width: 100px;
}

.Nav-items {
  padding: 0px 40px;
}
.Header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.Nav-items > ul {
  list-style: none;
  display: flex;
}

.Nav-items > ul > li {
  font-size: 20px;
  padding: 10px;
  font-family: cursive;
  margin: 10px;
}
.RestaurantCard {
  margin: 2px;
  padding: 5px;
 width: 200px;
 height: 300px;
 background-color: lightcyan;
}
.Card-image {
  width:100% ;
  height: 150px;
  border-radius: 5;
}
.Search {
  padding: 10px;
}
.RestaurantCard:hover {
  background-color: whitesmoke;
  cursor: pointer;
  background-color: skyblue;
  box-shadow: inset;
}
.Res-Container {
  display: flex;
  flex-wrap: wrap;
}